.show-added-books {
  width: 80%;
  border: 2px solid black;
}

.show-added-books > .user-input {
  padding: 1rem;
  border-bottom: 1px solid #333;
}

.input-value {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  margin-top: 60px;
}

#title {
  border: 2px solid black;

}

#author {
  border: 2px solid black;
}

.user-input {
  display: flex;
  gap: 10px;
}

.input-div {
  display: flex;
  gap: 10px;
  width: 90%;
}

.detele-btn-div {
  justify-self: flex-end;
}

#submit-form {
  border: 2px solid black;
  box-shadow: 3px 3px black;
}